USE [TechStoreDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 3/22/2026 11:34:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppUsers]    Script Date: 3/22/2026 11:34:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppUsers](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[DateOfBirth] [datetime2](7) NULL,
	[Email] [nvarchar](max) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_AppUsers] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 3/22/2026 11:34:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[BrandId] [int] IDENTITY(1,1) NOT NULL,
	[BrandName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[LogoUrl] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Brands] PRIMARY KEY CLUSTERED 
(
	[BrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 3/22/2026 11:34:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[ParentId] [int] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 3/22/2026 11:34:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[ContactId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Message] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Contacts] PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 3/22/2026 11:34:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[NewsId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[ShortDescription] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[NewsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 3/22/2026 11:34:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 3/22/2026 11:34:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Status] [int] NOT NULL,
	[Username] [nvarchar](max) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductAttributes]    Script Date: 3/22/2026 11:34:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductAttributes](
	[AttributeId] [int] IDENTITY(1,1) NOT NULL,
	[AttributeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ProductAttributes] PRIMARY KEY CLUSTERED 
(
	[AttributeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 3/22/2026 11:34:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[BasePrice] [decimal](18, 2) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[BrandId] [int] NULL,
	[ThumbnailUrl] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariants]    Script Date: 3/22/2026 11:34:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariants](
	[VariantId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[AdditionalPrice] [decimal](18, 2) NOT NULL,
	[StockQuantity] [int] NOT NULL,
	[SKU] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ProductVariants] PRIMARY KEY CLUSTERED 
(
	[VariantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VariantAttributeValues]    Script Date: 3/22/2026 11:34:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VariantAttributeValues](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VariantId] [int] NOT NULL,
	[AttributeId] [int] NOT NULL,
	[Value] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_VariantAttributeValues] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260224035128_TaoLaiDatabase', N'8.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260226031948_ThemBangBrand', N'8.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260226040052_ThemCotThumbnail', N'8.0.11')
GO
SET IDENTITY_INSERT [dbo].[AppUsers] ON 

INSERT [dbo].[AppUsers] ([UserId], [Username], [Password], [Role], [DateOfBirth], [Email], [FullName], [Phone], [IsActive]) VALUES (1, N'admin', N'123456', N'Admin', CAST(N'2001-07-18T00:00:00.0000000' AS DateTime2), N'khiem@gmail.com', N'Lâm', N'03893393', 1)
INSERT [dbo].[AppUsers] ([UserId], [Username], [Password], [Role], [DateOfBirth], [Email], [FullName], [Phone], [IsActive]) VALUES (3, N'lam', N'lam333', N'Customer', NULL, N'', N'', N'', 1)
INSERT [dbo].[AppUsers] ([UserId], [Username], [Password], [Role], [DateOfBirth], [Email], [FullName], [Phone], [IsActive]) VALUES (4, N'abc', N'123456', N'Employee', CAST(N'2002-01-15T00:00:00.0000000' AS DateTime2), N'long@gmail.com', N'Thế Long', N'0112339324', 1)
SET IDENTITY_INSERT [dbo].[AppUsers] OFF
GO
SET IDENTITY_INSERT [dbo].[Brands] ON 

INSERT [dbo].[Brands] ([BrandId], [BrandName], [Description], [LogoUrl], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (3, N'Samsung', NULL, N'/images/brands/826bd323-6682-4573-9301-431a7363bfc8_Screenshot 2025-11-24 115701.png', N'admin', CAST(N'2026-03-06T10:17:51.3957950' AS DateTime2), N'admin', CAST(N'2026-03-09T14:34:05.4376635' AS DateTime2))
INSERT [dbo].[Brands] ([BrandId], [BrandName], [Description], [LogoUrl], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (4, N'Apple', NULL, N'/images/brands/a72c3e6d-0b63-41fb-80a2-8330ad301494_Screenshot 2025-03-12 144934.png', N'admin', CAST(N'2026-03-09T14:34:35.1187450' AS DateTime2), NULL, NULL)
INSERT [dbo].[Brands] ([BrandId], [BrandName], [Description], [LogoUrl], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (5, N'Xiaomi', NULL, N'/images/brands/393364e6-8abc-490f-9cc1-f73d254bc587_Screenshot 2026-01-06 090959.png', N'admin', CAST(N'2026-03-09T14:34:54.2003681' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Brands] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [ParentId], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (6, N'Điện thoại ', NULL, N'admin', CAST(N'2026-03-05T11:00:08.4788413' AS DateTime2), N'admin', CAST(N'2026-03-09T14:24:07.2777836' AS DateTime2))
INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [ParentId], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (7, N'Laptop ', NULL, N'admin', CAST(N'2026-03-09T14:17:04.1606446' AS DateTime2), N'admin', CAST(N'2026-03-15T22:53:27.1291025' AS DateTime2))
INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [ParentId], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (8, N'Đồng hồ ', NULL, N'admin', CAST(N'2026-03-09T14:27:19.6828939' AS DateTime2), N'abc', CAST(N'2026-03-20T10:16:30.1893627' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Contacts] ON 

INSERT [dbo].[Contacts] ([ContactId], [FullName], [Phone], [Email], [Message], [CreatedDate], [Status]) VALUES (2, N'data3', N'22729822', N'luuthanhlam2612@gmail.com', N'bbbbb', CAST(N'2026-03-15T20:41:03.3016731' AS DateTime2), 1)
INSERT [dbo].[Contacts] ([ContactId], [FullName], [Phone], [Email], [Message], [CreatedDate], [Status]) VALUES (3, N'Đăng Dương', N'0939438394', N'duong@gmail.com', N'Tôi muốn mua laptop', CAST(N'2026-03-22T09:41:23.2389789' AS DateTime2), 1)
INSERT [dbo].[Contacts] ([ContactId], [FullName], [Phone], [Email], [Message], [CreatedDate], [Status]) VALUES (4, N'Khiêm', N'039289393', N'khiem@gmail.com', N'bbbbb', CAST(N'2026-03-22T11:14:57.6071103' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[Contacts] OFF
GO
SET IDENTITY_INSERT [dbo].[News] ON 

INSERT [dbo].[News] ([NewsId], [Title], [ShortDescription], [Content], [ImageUrl], [CreatedDate], [CreatedBy], [UpdatedBy], [UpdatedDate]) VALUES (3, N'kkk', N'aa111', N'<p>nsmmsms</p>', N'/images/news/a9a31a55-9847-4071-a2f9-aa8cfa88ac4d_Screenshot 2026-01-06 100744.png', CAST(N'2026-03-06T10:35:58.9327360' AS DateTime2), N'admin', N'admin', CAST(N'2026-03-06T10:36:08.6475850' AS DateTime2))
SET IDENTITY_INSERT [dbo].[News] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [Quantity], [Price]) VALUES (1, 1, 7, 3, CAST(3000000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [Quantity], [Price]) VALUES (2, 2, 7, 1, CAST(3000000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [Quantity], [Price]) VALUES (3, 3, 8, 20, CAST(2400000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderId], [CustomerName], [Phone], [Address], [OrderDate], [TotalAmount], [Status], [Username]) VALUES (1, N'Lưu Thành Lâm', N'22729822', N'Kim Hoa
Đống Đa', CAST(N'2026-03-09T16:53:33.9009846' AS DateTime2), CAST(9000000.00 AS Decimal(18, 2)), 0, NULL)
INSERT [dbo].[Orders] ([OrderId], [CustomerName], [Phone], [Address], [OrderDate], [TotalAmount], [Status], [Username]) VALUES (2, N'Đỗ Văn Minh', N'0911111111', N'Đại học công nghiệp', CAST(N'2026-03-09T17:05:49.6451074' AS DateTime2), CAST(3000000.00 AS Decimal(18, 2)), 2, NULL)
INSERT [dbo].[Orders] ([OrderId], [CustomerName], [Phone], [Address], [OrderDate], [TotalAmount], [Status], [Username]) VALUES (3, N'Lưu Thành Lâm', N'0911111111', N'Kim Hoa
Đống Đa', CAST(N'2026-03-10T16:03:37.4698438' AS DateTime2), CAST(48000000.00 AS Decimal(18, 2)), 2, N'lam')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductId], [ProductName], [Description], [BasePrice], [CategoryId], [BrandId], [ThumbnailUrl], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (8, N'iPhone 17', NULL, CAST(2400000.00 AS Decimal(18, 2)), 6, 4, N'/images/products/734bcc53-e47c-4f7c-96ff-337668d560fd_Screenshot 2025-12-07 230317.png', N'admin', CAST(N'2026-03-09T14:45:51.2415843' AS DateTime2), N'admin', CAST(N'2026-03-09T14:46:05.4728543' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductVariants] ON 

INSERT [dbo].[ProductVariants] ([VariantId], [ProductId], [AdditionalPrice], [StockQuantity], [SKU]) VALUES (5, 6, CAST(2000000.00 AS Decimal(18, 2)), 10, N'Iphone 17 256GB')
SET IDENTITY_INSERT [dbo].[ProductVariants] OFF
GO
ALTER TABLE [dbo].[AppUsers] ADD  DEFAULT (N'') FOR [Email]
GO
ALTER TABLE [dbo].[AppUsers] ADD  DEFAULT (N'') FOR [FullName]
GO
ALTER TABLE [dbo].[AppUsers] ADD  DEFAULT (N'') FOR [Phone]
GO
ALTER TABLE [dbo].[AppUsers] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsActive]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT (N'') FOR [SKU]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_Categories_Categories_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_Categories_Categories_ParentId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders_OrderId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Products_ProductId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Brands_BrandId] FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brands] ([BrandId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Brands_BrandId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories_CategoryId]
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD  CONSTRAINT [FK_ProductVariants_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductVariants] CHECK CONSTRAINT [FK_ProductVariants_Products_ProductId]
GO
ALTER TABLE [dbo].[VariantAttributeValues]  WITH CHECK ADD  CONSTRAINT [FK_VariantAttributeValues_ProductAttributes_AttributeId] FOREIGN KEY([AttributeId])
REFERENCES [dbo].[ProductAttributes] ([AttributeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VariantAttributeValues] CHECK CONSTRAINT [FK_VariantAttributeValues_ProductAttributes_AttributeId]
GO
ALTER TABLE [dbo].[VariantAttributeValues]  WITH CHECK ADD  CONSTRAINT [FK_VariantAttributeValues_ProductVariants_VariantId] FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariants] ([VariantId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VariantAttributeValues] CHECK CONSTRAINT [FK_VariantAttributeValues_ProductVariants_VariantId]
GO
